.wrapper{
    margin: 10%;
    
}

h5{
    line-height: 3rem;
}

.wrapper div h3{
    line-height: 3rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    color:var(--active-font-color)
}

.wrapper div span {
    margin-bottom: 15px;
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    color:var(--text-color);
    font-weight: 500;
    letter-spacing: 5px;
}

.experience div{
    margin-top: 5%;
    position: relative;
    background: var(--bgc);
    padding: 1.5em;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    box-shadow: 0px 0px 20px var(--shadow);
}

.experience li{
    list-style-type: square;
}

li{
    line-height: 1.5 rem;
}

