:root {
    --bgc: var(--bgc); /* Define the background color variable with a default value */
  }

.group {
    position: relative;
    margin: 25px 0;
}

.formInput {
    background: none;
    background-color: var(--bgc);
    color: black;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
    margin: 25px 0;
}

.formInput:focus {
    outline: none;
}

input[type='password'] {
    letter-spacing: 0.3em;
}

.formInputLabel {
    color: black;  
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: -20px;
    transition: 300ms ease all;
}

/* .formInputLabel.shrink {
    top: -14px;
    font-size: 12px;
    color: black;  
} */

input[type="month"]::-webkit-inner-spin-button{
  display: none;
}

.container:nth-child(2) div{
color:red
}