.df {
    display: flex;
    justify-content: space-between;
}

.wrapper   h2{
    line-height: 3em;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.wrapper   span {
    margin-bottom: 15px;
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    color:var(--text-color);
    font-weight: 500;
    letter-spacing: 5px;
    width: 450px;
}
